
body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
background: silver;
}

p, h1, form, button{border:0; margin:0; padding:0;}

.spacer{
	clear:both; 
	height:1px;
}

/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:400px;
padding:14px;
}

/* ----------- login ----------- */
#login{
border:solid 2px #b7ddf2;
position: absolute;
margin-left: 25%;

top: 30%;
margin-top: auto;
background:#ebf4fb;
border-radius: 0.89286em 0.89286em 0.89286em 0.89286em;
}
#login h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#login p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#login label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#login .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#login input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#login button{
clear:both;
margin-left:150px;
width:100px;
height:31px;
/*background:#666666 url(img/button.png) no-repeat;*/
background:#666666 no-repeat;
border-radius: 0.89286em 0.89286em 0.89286em 0.89286em;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

h4 {
color: #5F5F5F;
font-size: 23px;
}

h4.alert {
	/*background-Color: #bfbfbf;*/
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: .4em;
	/*border: 1px dotted white;*/
	font-size: 12px;
	color: red;
	line-height: 19px;
	position: relative;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

span.exit {
	position: absolute;
	top: 5px;
	right: 10px;
/*	background: #6361DF; */
	background: red;
	border-radius: 0.89286em 0.89286em 0.89286em 0.89286em;
	color: white;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	padding: .1em .3em;
	cursor: pointer;
	border-left: 0px dotted white;
	border-bottom: 0px dotted white;
}